*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

nav {
    padding: 0 2rem;
}

.content {
    min-height: calc(100vh - 64px - 70px);
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
}

/* .search-btn {
    position: absolute;
    top: 5.5rem;
    right: 19rem;
} */

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}

@media (min-width: 767px) {
    .cart {
        top: 5rem;
        bottom: unset;
    }
}
/* .cart-quantity {
} */

.basket-list {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 50rem;
    max-width: 95%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    animation: show 500ms ease-in-out;
}

.basket-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #fff;
}

.basket-delete {
    cursor: pointer;
}

@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

.basket-button {
    padding: 0;
    font-size: 1.2rem;
    height: 23px;
    margin: 0 0.2rem;
    box-shadow: none;
    background: #fff;
    color: #26a69a;
}

.basket-button:hover {
    color: none;
    background: none;
    box-shadow: none;
}

#toast-container {
    top: 3rem !important;
    animation: fade-in 250ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}
